<div id="logo_header">
  {% if site.owner.avatar contains 'http://' %}
    <img src="{{ site.owner.avatar }}" class="bio-photo" alt="{{ site.owner.name }} logo"></a>
  {% elsif site.owner.avatar contains 'https://' %}
    <img src="{{ site.owner.avatar }}" class="bio-photo" alt="{{ site.owner.name }} logo"></a>
  {% else %}
    <img src="{{ site.url }}/images/{{ site.owner.avatar }}" class="bio-photo" alt="{{ site.owner.name }} bio photo"></a>
  {% endif %}

  <h3>{{ site.owner.name }}</h3>
  <!-- <p>{{ site.owner.bio }}</p> -->
</div>

<div id="social_icons">
  {% if site.owner.twitter %}<a href="http://twitter.com/{{ site.owner.twitter }}" class="author-social inline_social_icon" target="_blank"><i class="fa fa-twitter-square"></i></a>{% endif %}

  {% if site.owner.facebook %}<a href="http://facebook.com/{{ site.owner.facebook }}" class="author-social inline_social_icon" target="_blank"><i class="fa fa-facebook-square"></i></a>{% endif %}

  {% if site.owner.google_plus %}<a href="{{ site.owner.google_plus }}" class="author-social inline_social_icon" target="_blank"><i class="fa fa-google-plus-square"></i></a>{% endif %}

  {% if site.owner.linkedin %}<a href="{{ site.owner.linkedin }}" class="author-social inline_social_icon" target="_blank"><i class="fa fa-linkedin-square"></i></a>{% endif %}

  {% if site.owner.github %}<a href="http://github.com/{{ site.owner.github }}" class="author-social inline_social_icon" target="_blank"><i class="fa fa-github"></i></a>{% endif %}
</div>


<div class="copyright_info">
  &copy; {{ site.time | date: '%Y' }} Portland Code School
</div>
